//
//	FOOTER
// ------------------------------------------------------ /


.footer-wrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.footer-item {
    width: 15%;
    li {
        display: block;
        padding-bottom: 5px;
    }
    a {
        padding: 0;
    }
    h4 {
        margin-bottom: 10px;
    }
    svg {
        margin-right: 5px;
    }
}