//
//	FOOTER
// ------------------------------------------------------ /


.footer-wrapper {
    display: flex;
    justify-content: space-around;
    margin-top: em(50);
}

.footer-item {
    width: 20%;
    li {
        display: block;
        padding-bottom: em(5);
    }
    a {
        padding: 0;
    }
    h4 {
        margin-bottom: em(10, 20);
    }
    svg {
        margin-right: em(5);
    }
}

footer {
    background-color: $color-bg-footer;
    .map {
        transform: translateY(em(-200));
    }
    .footer-wrapper {
        margin-top: em(-150);
        padding-bottom: em(50);
    }
}