//
//	GENERAL
// ------------------------------------------------------ /


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: $color-text;
    background: $color-bg-body;
    font: {
        size: $font-size;
        family: $font-family;
        weight: normal;
    }
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

.center {
    text-align: center;
}

a {
    text-decoration: none;
    color: $color-text;
    display: inline-block;
}

img {
	width: 100%;
	max-width: 100%;
	vertical-align: middle;
}

.menu {
    list-style: none;
    li {
        display: inline-block;
    }
    a {
        padding: 0 16px;
    }
}

section {
    margin: 100px 0;
}

