//
//	GENERAL
// ------------------------------------------------------ /


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    margin-bottom: em(300);

    @media ( max-width: $width-lg ) {
        margin-bottom: em(200);
    }
}

body {
    color: $color-secondary;
    background: $color-bg-body;
    font: {
        size: $font-size;
        family: $font-family;
        weight: normal;
    }
}

.container {
    max-width: em(1280); //1400
    margin: 0 auto;
    padding: 0 em(80);

    @media ( max-width: $width-sm ) {
        padding: 0 em(32);
    }
}

.center {
    text-align: center;
}

p {
    font-size: em(20);
}

a {
    text-decoration: none;
    color: $color-secondary;
    display: inline-block;
    font-size: em(20);
}

img {
	width: 100%;
	max-width: 100%;
	vertical-align: middle;
}

.menu {
    list-style: none;
    li {
        display: inline-block;
    }
    a {
        margin: 0 em(16, 20);
    }
}

section {
    margin: em(100) 0;
}

// lightbox

#lightbox {
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    display: none;
    animation: lightboxOn .3s;
}

#lightbox.active {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 2s ease-in-out;
    animation: lightboxOn .3s;
}

@keyframes lightboxOn {
    from {
        opacity: 0
    }    
    to {
        opacity: 1
    }
}

#lightbox img {
    width: 60%;
    height: auto;
    padding: 4px;
    background: $color-secondary;
    border: 2px solid $color-bg-body;
    border-radius: 10px;

    @media ( max-width: $width-lg ) {
        & {
            width: 90%;
        }
    }
}

