//
//	HEADER
// ------------------------------------------------------ /

.header-navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: em(32) 0;

    .menu li {
        margin: 0 1em;
    }

    .menu a::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: $color-primary;
        transition: width .3s;
    }

    .menu a:hover::after {
        width: 100%;
        transition: width .3s;
    }
    
    .dropdown-menu {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 100vh;
        align-items: center;
        list-style-type: none;
        background: $color-primary;
        z-index: 2;
        clip-path: circle(50px at 110% -10%);
        transition: ease-out 1s;
        & a {
            font: {
                size: em(70);
                weight: bold;
            }
            color: $color-bg-body;

            @media ( max-width: $width-md ) {
                & {
                    font-size: em(50);
                }
            }

            @media ( max-width: $width-md ) {
                & {
                    font-size: em(30);
                }
            }
        }



        & li {
            opacity: 0;
        }

        & li:nth-child(1){
            transition: ease-out 0.5s 0.2s;
        }
        & li:nth-child(2){
            transition: ease-out 0.5s 0.2s;    
        }
        & li:nth-child(3){
            transition: ease-out 0.5s 0.4s;
        }
        & li:nth-child(4){
            transition: ease-out 0.5s 0.6s;
        }
        & li:nth-child(5){
            transition: ease-out 0.5s 0.8s;
        }
    }

    


    .hamburger {
        display: none;
        z-index: 3;
    }

    @media ( max-width: $width-xmd ) {
        & {
            justify-content: space-between;
            margin: 0 em(40);
        }
        & nav ul:first-child,
        & .shop-btn {
            display: none;
        } 


        & .hamburger {
            display: block;
            
        }
    } 
            
}

.active {
    color: $color-primary;
}

.open {
    clip-path: circle(1400px at 110% -10%) !important;
}

.fade {
    opacity: 1 !important;
}


.shop-btn {
    border: 1px solid $color-primary;
    padding: em(10, 20) em(48, 20);
    border-radius: em(5, 20);
    color: $color-primary;
    transition: ease-in-out .3s;
    &:hover,
    &.active {
        color: $color-bg-body;
        background: $color-primary;
        transition: ease-in-out .3s;
    }
}

.header {
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url("../img/sunset_header.webp") no-repeat center;
    padding: em(100) 0 em(300) 0;
    p {
        margin-bottom: em(20);
        color: $color-bg-body;
    }
    @media ( max-width: $width-lg ) {
        & {
            font-size: 90%;
        }
    }

    @media ( max-width: $width-md ) {
        & {
            padding: em(50) 0 em(200) 0;
            font-size: 70%;
        }
    }
    @media ( max-width: $width-sm ) {
        & {
            font-size: 70%;
        }    
    }

}

.header-shop {
    width: em(700);
    text-align: center;
    margin: 0 auto em(100);
    padding: em(16);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: em(5);
    transform: translateY(em(-38));
    background-color: $color-primary;
    color: $color-bg-body;
    p {
        display: block;
        font-weight: bold;
    }
    a {
        padding: em(5, 20) em(20, 20);
        border: 1px solid $color-bg-body;
        color: $color-bg-body;
        transform: scale(0.95);
        transition: ease-in-out .2s;
        &:hover {
            border-radius: 5px;
            transform: scale(1);
        }
    }

    @media ( max-width: $width-lg ) {
        & {
            width: 550px;
            display: block;
            transform: translateY(em(-54));
        }
        & p {
            margin-bottom: em(5);
        }
    }

    @media ( max-width: $width-md ) {
        & {
            width: 80%;
            font-size: 70%;
        }
    }

    @media ( max-width: 367px ) {
        & {
            transform: translateY(em(-72));
        }
    }
    
        
    

    
    

    
}