//
//	TYPOGRAPHY
// ------------------------------------------------------ /


h1, h2, h3, h4 {
	line-height: 1;
}

h1 {
	font-size: 60px;
	color: #38b6ff;
}

h2 {
	font-size: 50px;	
	margin: 30px 0;
}

h2::before {
	content: url(../img/tecky.png);
	position: absolute;
	z-index: -999;
	transform: translate(-20px, -15px);
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 20px;
}