//
//	VARIABLES
// ------------------------------------------------------ /

$font-size: 1em;
$font-family: 'Poppins', sans-serif;

//light

    $color-primary: #0097ef;
    $color-secondary: #000000;    
    $color-bg-body: #FCFCFC;
    $color-bg-footer: #a9a9a9;

