//
//	VARIABLES
// ------------------------------------------------------ /

$font-size: 1em;
$font-family: 'Poppins', sans-serif;

//light

    $color-primary: #0097ef;
    $color-secondary: #000000;    
    $color-bg-body: #FCFCFC;
    $color-bg-footer: #ececec;


//breakpoints

$width-sm: 400px;
$width-md: 640px;
$width-xmd: 895px;
$width-lg: 1024px;
$width-xlg: 1200px;

