//
//	IMPORTS
// ------------------------------------------------------ /


@import 'variables';      // variables
@import 'mixins';         // functions and mixins
@import 'general';        // global rules
@import 'typography';     // font n stuff
@import 'buttons';        // buttons
@import 'header';         // navigation
@import 'footer';         // footer


@import 'pages/home';
@import 'pages/about';
@import 'pages/portfolio';
@import 'pages/contact';
@import 'pages/shop';