//
//	ABOUT
// ------------------------------------------------------ /


.what-we-do {
    .menu {
        text-align: center;
    }
    li {
        width: 35%;
        text-align: center;
        padding: em(70);
        margin: em(10);        
        box-shadow: 0px em(2) em(3) 0px $color-bg-footer;
        border-radius: em(10);
    }
    p {
        margin-top: em(30, 20);
    }
    .light {
        color: $color-primary;
    }

    .blue {
        background-color: $color-primary;
        color: $color-bg-body;
    }
}

.standarts {
    li {
        display: block;
    }
}

.standarts-wrapper > p {
    width: 40%;
    margin-bottom: em(50, 20);
}

.standarts-wrapper {
    margin-left: 50px;
    li {
        display: flex;
        align-items: center;
        box-shadow: 0px em(2) em(3) 0px $color-bg-footer;
        border-radius: em(10);
        margin: em(30) 0;
    }
    svg {
        margin: em(10, 64) em(30, 64);
        color: $color-primary;
    }
    h4 {
        color: $color-primary;
        margin-bottom: em(10, 20);
    }
}

.menu-text {
    p {
        width: 100%;
    }
}