//
//	HOME
// ------------------------------------------------------ /

.about {
    p {
    width: 40%;
    margin-bottom: 30px;
    margin-left: 30px;
    }
    a {
        margin-left: 30px;
    }
}

.home-portfolio h3 {
    margin: 20px 0 20px 25px;
}

.home-portfolio-wrapper {
    display: flex;
    justify-content: space-around;
}

.home-portfolio-item {
    width: 30%;
    img {
        height: 250px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

}

.home-portfolio-item-text {
    padding-left: 10%;
    padding-right: 10%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 1px 10px 0px $color-bg-footer;
    h4 {
        padding-bottom: 20px;
        padding-top: 20px;
    }
    a {
        margin: 20px 0;
    }
}


.home-portfolio-footer {
    margin-top: 100px;
    height: 250px;
    background: url(../img/sunset2.jpg) no-repeat fixed center;
    text-align: center;
    padding: 50px;
    h3 {
        color: $color-bg-body;
    }
    a {
        padding: 10px 48px;
        margin: 20px 0;
        color: $color-bg-body;
        background-color: $color-primary;
        border-radius: 5px;
    }
}

.contact-wrapper {
    display: flex;
    justify-content: space-around;
}

.contact-content {
    width: 30%;
}

.contact-content:first-child {
    color: $color-bg-body;
    background-color: $color-primary;
    border-radius: 5px;
    padding: 50px;
    width: 25%;
    a {
        color: $color-bg-body;
        display: block;
    }
}

.contact-item h4 {
    margin: 10px 0;
}

input, textarea {
    width: 100%;
    border: none;
    box-shadow: 0px 2px 3px 0px lightgrey;
    border-radius: 10px;
    margin: 10px 0;
    padding: 20px;
    font-size: 20px;
    font-family: $font-family;
}

input:focus,
textarea:focus {
    outline-color: $color-primary;
}

.contact-form button {
        border: 1px solid $color-primary;
        padding: 10px 48px;
        border-radius: 5px;
        color: $color-primary;
        background-color: $color-bg-body;
        font-size: 20px;
}

