//
//	PORTFOLIO
// ------------------------------------------------------ /

.portfolio {
    p {
        width: 50%;
        margin: em(20, 20) 0 em(20, 20) em(50, 20);
    }
}

.portfolio-wrapper {
    margin-top: em(100);
    margin-left: em(100);
}

.portfolio-item {
    margin: em(50) 0;
    h3 {
        margin-left: em(30, 30);
    }

    h3::before {
        content: url(../img/ctverec.png);
	    position: absolute;
	    z-index: -999;
	    transform: translate(em(-22, 30), em(-13, 30));
    }
}

.portfolio-images {
    margin-left: em(45);
    img {
        border-radius: em(10);
        margin: 0 em(5);
    }
}